.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 32px;
  border-top: 1px solid #e5e5ea;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    width: 100%;
    min-width: 0;
    padding: 0px;
  }
}
.freeBox__ca5JI {
  max-width: 1024px;
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  min-width: 0;
  padding: 32px;
}
.freeBox__ca5JI > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.freeBox__ca5JI > :global(.__wab_flex-container) > *,
.freeBox__ca5JI > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ca5JI > :global(.__wab_flex-container) > picture > img,
.freeBox__ca5JI
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ca5JI {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ca5JI > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 64px);
    height: calc(100% + 64px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ca5JI > :global(.__wab_flex-container) > *,
  .freeBox__ca5JI > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__ca5JI > :global(.__wab_flex-container) > picture > img,
  .freeBox__ca5JI
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 64px;
  }
}
.freeBox___9JkYw {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.freeBox___9JkYw > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox___9JkYw > :global(.__wab_flex-container) > *,
.freeBox___9JkYw > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___9JkYw > :global(.__wab_flex-container) > picture > img,
.freeBox___9JkYw
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__eob5K {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  white-space: pre;
  height: auto;
}
.text__kcSbt {
  height: auto;
  width: 100%;
  white-space: pre-wrap;
  min-width: 0;
}
.textInput:global(.__wab_instance) {
  position: relative;
}
.svg__f780Q {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__gLyWx {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__cxyRd:global(.__wab_instance) {
  position: relative;
}
.svg__hdww7 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__dqnK {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.freeBox__z83Ge {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.freeBox__z83Ge > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__z83Ge > :global(.__wab_flex-container) > *,
.freeBox__z83Ge > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__z83Ge > :global(.__wab_flex-container) > picture > img,
.freeBox__z83Ge
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__rB5Pu {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  white-space: pre;
  height: auto;
  padding-left: 12px;
  padding-right: 12px;
}
.freeBox__w7SUs {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__w7SUs > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__w7SUs > :global(.__wab_flex-container) > *,
.freeBox__w7SUs > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__w7SUs > :global(.__wab_flex-container) > picture > img,
.freeBox__w7SUs
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.svg__qUEn {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #666666;
  min-width: 0;
  min-height: 0;
}
.svg__jansf {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__jN4X:global(.__wab_instance) {
  position: relative;
}
.svg__uc4R {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #666666;
  min-width: 0;
  min-height: 0;
}
.text___3MZx {
  height: auto;
}
.svg__jt7Bk {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__cKByx:global(.__wab_instance) {
  position: relative;
}
.svg___7RAa4 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #666666;
  min-width: 0;
  min-height: 0;
}
.text__v5EZ3 {
  height: auto;
}
.svg__rE1Tl {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.freeBox__bfnuw {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.freeBox__bfnuw > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__bfnuw > :global(.__wab_flex-container) > *,
.freeBox__bfnuw > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__bfnuw > :global(.__wab_flex-container) > picture > img,
.freeBox__bfnuw
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__yF8Ta {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  white-space: pre;
  height: auto;
  padding-left: 12px;
  padding-right: 12px;
}
.freeBox__j47WZ {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  min-width: 0;
}
.freeBox__vygrp {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.freeBox__vygrp > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__vygrp > :global(.__wab_flex-container) > *,
.freeBox__vygrp > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__vygrp > :global(.__wab_flex-container) > picture > img,
.freeBox__vygrp
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.svg__c4Mh {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__rcIwb {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__nBmpY:global(.__wab_instance) {
  position: relative;
}
.svg__euj5K {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__yD8Lw {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__uyBJc:global(.__wab_instance) {
  position: relative;
}
.svg___5Ex24 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__fXGu4 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__oj0Dk:global(.__wab_instance) {
  position: relative;
}
.svg__qlxxe {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__qKh5K {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.freeBox___4N27F {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.freeBox___4N27F > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox___4N27F > :global(.__wab_flex-container) > *,
.freeBox___4N27F > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___4N27F > :global(.__wab_flex-container) > picture > img,
.freeBox___4N27F
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.button__fH68H:global(.__wab_instance) {
  position: relative;
}
.svg__uiC7 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__eMwBx {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__vZ7Ix:global(.__wab_instance) {
  position: relative;
}
.svg__kjrS {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__cuAfD {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__enk3A:global(.__wab_instance) {
  position: relative;
}
.svg__qzwdu {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__fSo5V {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.copyrightSocialLanguage:global(.__wab_instance) {
  position: relative;
}
