.root {
  max-width: 1024px;
  display: flex;
  flex-direction: row;
  width: 100%;
  position: relative;
  min-width: 0;
  padding: 32px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 32px;
}
.freeBox__iyQv2 {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  min-width: 0;
}
.freeBox__iyQv2 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__iyQv2 > :global(.__wab_flex-container) > *,
.freeBox__iyQv2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__iyQv2 > :global(.__wab_flex-container) > picture > img,
.freeBox__iyQv2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.freeBox___1F4U5 {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox___1F4U5 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox___1F4U5 > :global(.__wab_flex-container) > *,
.freeBox___1F4U5 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___1F4U5 > :global(.__wab_flex-container) > picture > img,
.freeBox___1F4U5
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.text {
  font-weight: 400;
  white-space: pre-wrap;
  color: #666666;
}
.freeBox__cHx1I {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.svg__dRzD2 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__nfGq {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__trVu2:global(.__wab_instance) {
  position: relative;
}
.svg__dYDcY {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__vixo2 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__yvFf:global(.__wab_instance) {
  position: relative;
}
.svg__e4Cco {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___88Dyo {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__rj3Ew:global(.__wab_instance) {
  position: relative;
}
.svg__poJ {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__ceBdr {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
